* {
    padding: 0;
    margin: 0;
}
header {
    background-color: #231C1A;
    height: 80px;
    width: 100%;
}
header h1 {
    color: white;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
}
header li {
    display: inline;
    margin-right: 4vw;
}
header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
.back {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.back a {
    color: black;
    text-decoration: none;
    border: 1px solid #ACACAC;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 35px;
}
.bad-login h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
    margin: 25px 0;
}

.bad-login p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
    margin: 25px 0;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 25px;
}
