* {
    padding: 0;
    margin: 0;
}
head {
    background-color: #231C1A;
    height: 100px;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
